//! **************************************************************************
// Written by: Map P.20131013 on Mon Jan 14 16:25:18 2019
//! **************************************************************************

SCHEMATIC START;
COMP "BTN_X<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "BTN_X<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "BTN_X<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "BTN_X<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "BTN_X<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "vga_blue<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "vga_blue<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "vga_blue<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "vga_blue<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "vga_green<3>" LOCATE = SITE "T25" LEVEL 1;
COMP "PS2_CLK" LOCATE = SITE "N18" LEVEL 1;
COMP "vga_green<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "vga_green<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "vga_green<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "BTN_Y<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "BTN_Y<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "BTN_Y<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "BTN_Y<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "PS2_DATA" LOCATE = SITE "M19" LEVEL 1;
COMP "vga_red<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "vga_red<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "vga_red<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "vga_red<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "AF12" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "AE8" LEVEL 1;
COMP "vga_v_sync" LOCATE = SITE "M21" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "vga_h_sync" LOCATE = SITE "M22" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "AE10" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "AE12" LEVEL 1;
COMP "reset_n" LOCATE = SITE "W13" LEVEL 1;
SCHEMATIC END;

